<section class="admin-products-index">
  <header class="page-header">
    <h1>Admin &raquo; All Categories</h1>
  </header>
    <div class="well">
      <%= link_to '+ New Cateogry', [:new, :admin, :category], class: 'btn btn-info' %>
    </div>
    <tr class="page-header">
      <h3>Categories:</h3>
    </tr>
    <br>
  <div class="panel panel-default products">
    <table class="table table-bordered">
      <tbody>
        <%= render @categories %>
      </tbody>
    </table>
  </div>
</section>
